@import "http://fonts.googleapis.com/css?family=Lato:400,400italic,700,700italic";
@import "http://fonts.googleapis.com/css?family=Arvo:400";
@import "http://fonts.googleapis.com/css?family=Source+Code+Pro:400,700";
body {
  font-family: "Lato", sans-serif;
  font-size: 17px;
  font-weight: 300;
  line-height: 27px;
  color: #666; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Arvo", serif;
  line-height: 60px;
  font-weight: normal;
  color: #333; }

h4 {
  font-size: 22px; }

p, li, blockquote p {
  font-size: 19px;
  font-weight: 400;
  line-height: 1.6; }

strong {
  color: #444; }

blockquote {
  border-left: 5px solid #bbb; }
  blockquote p {
    font-style: italic;
    color: #777; }

code, pre {
  font-family: "Source Code Pro", monospace; }

code {
  color: #333; }

td > code {
  border: none;
  background-color: transparent;
  font-size: 13px; }

pre {
  border: solid 1px #ddd;
  background: #fff;
  padding: 0;
  line-height: 23px;
  margin-bottom: 30px;
  white-space: pre;
  overflow-x: auto;
  word-break: inherit;
  word-wrap: inherit; }

.rouge-table pre {
  border: none !important; }

video {
  width: 100%; }

.highlight td {
  padding: 8px 15px; }

.gutter {
  text-align: right; }

.gl {
  background: #fafafa;
  border-right: 1px solid #ddd;
  color: #999;
  /* Stop line numbers being visually selected */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

article img {
  padding-top: 1em;
  padding-bottom: 1em; }

article > table, li > table {
  width: 100%;
  margin-bottom: 20px; }
  article > table th, article > table td, li > table th, li > table td {
    padding: 8px;
    line-height: 20px;
    vertical-align: top;
    border-top: 1px solid #dddddd; }
  article > table th, li > table th {
    font-weight: bold; }
  article > table thead th, li > table thead th {
    vertical-align: bottom; }
  article > table caption + thead tr:first-child th,
  article > table caption + thead tr:first-child td,
  article > table colgroup + thead tr:first-child th,
  article > table colgroup + thead tr:first-child td,
  article > table thead:first-child tr:first-child th,
  article > table thead:first-child tr:first-child td, li > table caption + thead tr:first-child th,
  li > table caption + thead tr:first-child td,
  li > table colgroup + thead tr:first-child th,
  li > table colgroup + thead tr:first-child td,
  li > table thead:first-child tr:first-child th,
  li > table thead:first-child tr:first-child td {
    border-top: 0; }
  article > table tbody + tbody, li > table tbody + tbody {
    border-top: 2px solid #dddddd; }
  article > table tbody tr:nth-child(odd) td,
  article > table tbody tr:nth-child(odd) th, li > table tbody tr:nth-child(odd) td,
  li > table tbody tr:nth-child(odd) th {
    background-color: #f9f9f9; }
  article > table tbody tr:hover td,
  article > table tbody tr:hover th, li > table tbody tr:hover td,
  li > table tbody tr:hover th {
    background-color: #fce1ec; }

#header {
  margin-bottom: 30px;
  background-color: #fa2573;
  height: 2px;
  width: 100%; }

#content {
  padding-bottom: 150px; }
  #content header {
    margin-bottom: 30px; }
    #content header h1 {
      margin: 0; }
    #content header a {
      color: #333; }
    #content header date {
      font-size: 16px; }
  #content h2 {
    margin-top: 1em; }
  #content hr {
    margin: 30px 0;
    border-top: 1px solid #ccc; }
  #content iframe {
    margin: 1.5em 0; }
  #content .row.post {
    border-bottom: 1px solid #C8C8C8; }

#sidebar {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 3em;
  padding-right: 1em;
  text-align: right; }
  #sidebar h2.name {
    margin-bottom: 0;
    white-space: nowrap;
    line-height: normal; }
  #sidebar .namebox {
    margin-bottom: 1.5em; }

#footer a.back {
  line-height: 20px;
  float: left;
  display: inline-block;
  padding: 5px 14px;
  background-color: white;
  border: 1px solid #DDD;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px; }
  #footer a.back:hover {
    background-color: whiteSmoke;
    text-decoration: none; }
#footer #tags {
  text-align: right; }

.center {
  text-align: center; }

@media (max-width: 767px) {
  #sidebar {
    overflow: auto;
    width: 100%;
    padding-left: 0;
    padding-top: 0; }
    #sidebar img {
      float: right; } }
